@model MegaStoreApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal col-md-7 col-sm-pull-0">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>                           
    </dl>

    <img src="@Url.Content(Model.AlbumArtLocation)" class="img-thumbnail" width="304" height="236" />

    <div class="media dl-horizontal col-md-offset-7">

        <iframe src="@Model.SpotifyURL"
                width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

    </div>

    @*chanel https://embed.spotify.com/?uri=spotify%3Atrack%3A6Nle9hKrkL1wQpwNfEkxjh*@
    @*Alex G https://embed.spotify.com/?uri=spotify%3Atrack%3A4PL0neV0CW44OxbbwVT9zl*@
    @*Kanye https://embed.spotify.com/?uri=spotify%3Atrack%3A62r62ArmWq38cu6QCVgyTc*@
    @*RadioHead https://embed.spotify.com/?uri=spotify%3Atrack%3A6dsq7Nt5mIFzvm5kIYNORy*@
    @*Frankie https://embed.spotify.com/?uri=spotify%3Atrack%3A5MAbv1SXZX03D4ndmn1CEZ*@
    @*Daft Punk https://embed.spotify.com/?uri=spotify%3Atrack%3A36c4JohayB9qd64eidQMBi*@
    @*Marvin Gaye https://embed.spotify.com/?uri=spotify%3Atrack%3A2PR9fRMWxg4oiNnuJd64NX*@
    @*Kendrick Lamar https://embed.spotify.com/?uri=spotify%3Atrack%3A6HZILIRieu8S0iqY8kIKhj*@
    @*The Knife https://embed.spotify.com/?uri=spotify%3Atrack%3A0ONbiyqCsjVSjrrZJISZIY*@
    

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
