@model MegaStoreApp.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>Purchased Albums</th>
                    <th>Customer Rating</th>
                </tr>
                @foreach (var item in Model.Purchases)
                {
                    <tr>
                        <td>                            
                            <p>@Html.DisplayFor(modelItem => item.Album.Artist) -
                            @Html.DisplayFor(modelItem => item.Album.Title) 
                                </p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating) Stars
                        </td>
                    </tr>
                }

            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
